@import url("https://fonts.cdnfonts.com/css/work-sans");
html {
    background-color: #f1f5f9;
    font-family: "Work Sans", sans-serif;
}

body {
    margin: 0 auto;
    width: 80%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    font-weight: 700;
    margin: 1rem 0;
    font-size: 2.5rem;
    background-image: linear-gradient(to right, #168e88 0%, #8b76ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-weight: 600;
    background-image: linear-gradient(to right, #168e88 0%, #8b76ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:link {
    color: teal;
    text-decoration: none;
}

body > a {
    color: #168e88;
    text-decoration: none;
}
a:hover {
    background-color: #093b50;
    color: #f9f8ff;
}
blockquote {
    box-shadow: #093b50;
}
/* nav styles */

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links a:hover,
a:focus {
    background-color: #ff9776;
}

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}

html.dark {
    background-color: #093b50;
    color: #fff;
}

.dark .nav-links a {
    color: #fff;
}
