---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "博客";
const allPosts = await Astro.glob("../pages/posts/*.md");

---

<BaseLayout pageTitle={pageTitle}>
    <h3>这是学习前端的笔记！！！</h3>
    <ul class="ulStyle">
        {
            allPosts.map((post) => (
                <BlogPost
                    url={post.url}
                    title={post.frontmatter.title}
                    pubDate={post.frontmatter.pubDate}
                />
            ))
        }
    </ul>
</BaseLayout>
<style>
    .ulStyle {
        padding: 0 0 0 8px;
    }
    
</style>
