---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "小满的博客";
---
<BaseLayout pageTitle={pageTitle}>
  <h2 >你好！我是小满，一个数据分析师和编程爱好者！</h2>
  <h2 >我正在努力学习编程中，为了兴趣！！！</h2>

  <div></div>
  <Greeting client:load messages={["大佬", "帅哥", "美女", "同学"]} />
</BaseLayout>
<style>
  h2{
    font-style: italic;
  }
</style>
