---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "小满的博客";
---
<BaseLayout pageTitle={pageTitle}>
    <div class="indexContent">
        <!-- <h2>你好！我是小满，一个数据分析师和编程爱好者！</h2> -->
        <p>
            Hello, I am a <strong>data analyst</strong> and a passionate enthusiast of <strong>designing and programming</strong>. I have a profound interest in data analysis and mining and enjoy solving practical problems using programming languages and data tools. I am proficient in several programming languages, including <strong>Python</strong>, <strong>TypeScript</strong>, <strong>Golang</strong>, <strong>Node.js</strong>, and <strong>SQL</strong>, and excel in using various data visualization tools such as Tableau and Power BI. Additionally, I possess a strong foundation in mathematics and statistics, enabling me to apply theoretical knowledge to solving real-world problems. I am highly enthusiastic about learning and exploring new technologies and aspire to continually enhance my skills and knowledge, ultimately becoming an outstanding <strong>data analyst</strong> and <strong>programmer</strong>."
        </p>
    
        <!-- <a href="/blog/" > go -->
            <!-- <img src="/public/arrow-right-svgrepo-com.svg" height="30px" width="50px" > -->
        <!-- </a> -->
    </div>
</BaseLayout>
<style>
    p{
        font-size: 1.1rem;
        margin-top: 240px;
    }
    a img{
        display: block;
        margin: 0 auto;
    }
    a img:hover{
        color: #ffffff;
       
    }

.indexContent {
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: flex-start;
}
strong {
    background-image: linear-gradient(to right, #2d62ff, #12a5a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.indexContent a{
    font-family: 'Rounds Black', sans-serif;                              
    margin-top: 24px;
    color: #141414;
    font-size: 20px;
    text-align: center;
    text-decoration: none !important;
    font-weight: bold;
    width: 150px;
    padding: 12px 24px;
    border: #252525 1.5px solid;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow  0.55s ease-in-out;
    transition:  background-color 0.55s ease-in-out;;

}

.indexContent a:hover{
    text-decoration: none !important;
    border: #252525 1.5px solid;
    border-radius: 4px;
    color: #fcfcfc;
    background-color: #252525;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
   
</style>

