---
const { title, url ,pubDate} = Astro.props

// 把pubDate转换成日期格式
const date = new Date(pubDate)

// 把日期格式转换成字符串
const dateStr = date.toLocaleDateString()

---
<li class="liStyle"><a href={url}>{title}</a> ---    <span>{dateStr}</span></li>

<style>
  .liStyle{
    margin: 20px 0px;
        list-style: none;
        list-style-position: inside;
        justify-content: space-between;
    }
    .liStyle span{
        color: rgb(136, 136, 136);
        font-size: small;
        text-align: end;
    }
    li a::before{
        background: linear-gradient(to right, #5745fd, #12a5a3);
        transition: width 0.3s ease;
        z-index: -1;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    li a:hover::before{
        width: 100%;
    }

</style>
