---
const { platform, username } = Astro.props
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #ffffff;
    border: rgb(38, 38, 38) 2px solid;
    text-decoration: none;
    transition: background-color 0.55s ease-in-out;
  }
  a:hover {
    background-color: rgb(38, 38, 38);
    color: white;
  }
</style>
